*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
.footer{
    width: 100%;
    height: 300px;
    background: #EEEFFB;
    margin-top: 100px;

}
.foodiv{
    width: 100%;
    height: 300px;

}
.foomain{
    width: 90%;
    margin: 0 auto;
    height: auto;

    display: flex;
}
.fooleft{
    width: 50%;
    height: 300px;

}
.fooleft h2{
    font-family: Josefin Sans;
    font-size: 38px;
    line-height: 44.53px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
}
.fooleft input{
    width: 200px;
    height: 30px;
    margin-top: 10px;
    padding: 10px;
}


.fooora{
margin-left: 50px;
padding-top: 20px;
}
.btncha_1{
    margin-left: 1px;
    background: #FB2E86;
    width: 135px;
    height: 39px;
   border-radius: 8px;
     color: white;  
     border: none;  
}
.fooright{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}
.fooright p{
    margin-top: 2px;
}
.border1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}
.past{
    width: 100%;
    height: 30px;
    background: #E7E4F8;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.past2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}