*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.pushtinavbar{
  width: 100%;
  height:30px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.pushtidiv2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.pushtidiv{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.pushtiora{
  display: flex;
  align-items: center;
  gap: 40px;
}
.pushtiora2{
  display: flex;
  align-items: center;
  gap: 40px;
}
.pushtidiv3{
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-navbar {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 300px;
  border-bottom: 1px solid #ddd;

}

.main-navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: black;
  font-weight: bold;
}

.main-navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.Login{
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.main-navbar-links li {
  font-size: 16px;
}

.main-navbar-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.main-navbar-links a:hover {
  color: #ff4081;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 5px;

}

.search-bar input {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-bar button {
  width: 40px;
  height: 30px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 4px;
  margin-top: 1px;
}
.barsicon {
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.blokcha {
  display: none;
  position: absolute;
  top: 100px;
  right: 0;
  width: 400px;
  height: 400px;
  background: #ff0000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.blokcha-active {
  display: block;
}

.blokcha .mainblok ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.blokcha .mainblok ul li {
  margin: 0.5rem 0;
}

.blokcha .mainblok ul li a {
  text-decoration: none;
  color: #000;
}
@media (max-width: 1380px) {
.logo {
  font-size: 24px;
  color: black;
  font-weight: bold;
  margin-right: 20px;
}
.search-bar{
  margin-left: 20px;
}
}
@media only screen and (max-width: 1300px){

}
@media (max-width: 1100px) {
  .logo {
    font-size: 24px;
    color: black;
    font-weight: bold;
   margin-left: -100px;
  }
}
@media only screen and (max-width: 1000px){
  .logo {
    font-size: 24px;
    color: black;
    font-weight: bold;
   margin-left: -150px;
  }
  .footer{
    width: 100%;
    height: auto;
  }
.foodiv{
  width: 100%;
  height: 700px;
  background-color: red;
}
.foomain{
  width: 90%;
  height: 600px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}
.fooleft{
  width: 100%;

}

.fooright{
  width:600px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  background-color: blue;
}
.fooleft h2{
  text-align: center;
}
.btncha_1{
  width: 200px;
  margin-left: 50px;
}
.fooora{
  margin: 0;
  padding: 0;
}
.fooleft p{
  text-align: center;
  margin-left: 120px;
}
}

@media only screen and (max-width: 950px){
  .logo {
    font-size: 24px;
    color: black;
    font-weight: bold;
   margin-left: -220px;
  }
  

  .main-navbar-links, .search-bar{
    display: none;
  }

  .barsicon{
    display: block;
  }
  .main-navbar {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 300px;
    border-bottom: 1px solid #ddd;
 
  }

}