*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.pushtinavbar{
  width: 100%;
  height:30px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.counter-badge {
  position: absolute;
  background: red;
  color: white;
  border-radius: 10px;
  padding: 0 8px;
  font-size: 12px;
  font-weight: bold;
}

.Wishis{
  list-style: none;
  text-decoration: none;
  color: white;
  /* display: flex;
  align-items: center;
  gap: 5px; */
}

.pushtidiv2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.pushtidiv{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.pushtiora{
  display: flex;
  align-items: center;
  gap: 40px;
}
.pushtiora2{
  display: flex;
  align-items: center;
  gap: 40px;
}
.pushtidiv3{
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-navbar {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 300px;
  border-bottom: 1px solid #ddd;

}

.main-navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: black;
  font-weight: bold;
}
.phone-link{
  list-style: none;
  text-decoration: none;
  color:white;
}
.main-navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.Login{
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.main-navbar-links li {
  font-size: 16px;
}

.main-navbar-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.main-navbar-links a:hover {
  color: #ff4081;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 5px;

}

.search-bar input {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.search-bar button {
  width: 40px;
  height: 30px;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 4px;
  margin-top: 1px;
}
.barsicon {
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.blokcha {
  display: none;
  position: absolute;
  top: 90px;
    width: 400px;
  height: 400px;
  background: rgba(126, 51, 224, 1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  color: white;
}

.blokcha-active {
  display: block;
}

.blokcha .mainblok ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.blokcha .mainblok ul li {
  margin: 0.5rem 0;
}

.blokcha .mainblok ul li a {
  text-decoration: none;
  color:white;
}
.Shoping{
  position: relative;
  display: inline-block;
}
@media (max-width: 1380px) {
.logo {
  font-size: 24px;
  color: black;
  font-weight: bold;
  margin-right: 20px;
}
.search-bar{
  margin-left: 20px;
}
}
@media only screen and (max-width: 1300px){

}
@media (max-width: 1100px) {
  .logo {
    font-size: 24px;
    color: black;
    font-weight: bold;
   margin-left: -100px;
  }
}
@media only screen and (max-width: 1000px){
  
  .pushtiora{
display: grid;
align-items: center;
  }
  .pushtidiv{
    display: flex;
    justify-content: space-between;
gap: 0px;    
  }

  .pushtinavbar{
    height: 100px;
  }

  .logo {
    font-size: 24px;
    color: black;
    font-weight: bold;
   margin-left: -150px;
  }
  .footer{
    width: 100%;
    height: auto;
  }
.foodiv{
  width: 100%;
  height: 700px;
}
.foomain{
  width: 90%;
  height: 600px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
}
.fooleft{
  width: 100%;

}

.fooright{
  width:600px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}
.fooleft h2{
  text-align: center;
}
.btncha_1{
  width: 200px;
  margin-left: 200px;
}
form input{
  margin-left: 200px;
}

.fooora{
  margin: 0;
  padding: 0;
}
.fooleft p{
  text-align: center;
  margin-left: 120px;
}
}

@media only screen and (max-width: 950px){

  .logo {
    font-size: 24px;
    color: black;
    font-weight: bold;
   margin-left: -220px;
  }
  

  .main-navbar-links, .search-bar{
    display: none;
  }

  .barsicon{
    display: block;
    margin-left: 450px;
  }
  .main-navbar {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 300px;
    border-bottom: 1px solid #ddd;
 
  }
  .stolcarlar{
    height: 1500px;
      }
}
@media only screen and (max-width: 800px){
.barsicon{
  margin-left: 300px;
}

}
@media only screen and (max-width: 700px){
  .barsicon{
    margin-left: 300px;
  }
  .cardlarmain{
    width: 80%;
padding: 0px 0px 0px 100px;

  }
  .cardbir{
    margin-left: -70px;
  }
  }
@media only screen and (max-width: 1280px){
  .stolcarlar{
height: 1000px;
  }
.discort{
  margin-top: 300px;
}
.tortcatt{
  display: grid;grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.stolcard1{
  width: 350px;
  margin-left: 80px;
}
.tepa{
  width: 100%;
}
}

@media only screen and (max-width: 1000px){
.stolcarlar{
  height: 1500px;
}
.uchcard{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 30px auto;
}
.carduzun{
  width: 100%;
}
.carduzun2{
  width: 100%;
}
.tortcatt{
margin: 0 auto;
padding: 0;
}
.stolcard1{
  width: 300px;
}
}

@media only screen and (max-width: 948px){

  .stolcarlar{
height: 1300px;
  }

.discort{
  margin-top: 300px;
}
.tortcatt{
  display: grid;grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-left: -50px;
}
.stolcard1{
  width: 300px;
}
.tepa{
  width: 100%;
}

}
@media only screen and (max-width: 780px){
  .stolcarlar{
height: 1300px;
  }
.discort{
  margin-top: 300px;
}
.tortcatt{
  display: grid;grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-left: -50px;
}
.stolcard1{
  width: 250px;
}
.tepa{
  width: 100%;
}
.pushtiora2{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.fooright{
  margin: 0 auto;
  width: 550px;
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  text-align: center;
}
.foomain{
  height: 1000px;

}
.foodiv{
  height: 1000px;
}

}
@media (max-width: 708px){

  .cardlarmain{
    width: 80%;
    height: 1500px;
    display: grid;
    grid-template-columns: 1fr ;
    background-color: red;
    justify-content: center;
    margin: 30px auto;
    padding: 0;
  }

.cardlar{
  height: 1500px;
}
.cardbir{
  margin: 0 auto;
}
}
@media only screen and (max-width: 700px){
  .stolcarlar{
height: 1300px;
  }
.discort{
  margin-top: 300px;
}
.tortcatt{
  display: grid;grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-left: -50px;
}
.stolcard1{
  width: 250px;
}
.tepa{
  width: 100%;
}
.pushtiora2{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.fooright{
  margin: 0 auto;
  width: 550px;
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  text-align: center;
}
.foomain{
  height: 1000px;

}
.foodiv{
  height: 1000px;
}
.container11{
height: 2500px;

}
.product-grid11{
  display: grid;
  grid-template-columns: 1fr;
}
.product-card11{
  width: 400px;
  height: 550px;
}

}